<?xml version="1.0"?>
<launch>
  <!-- args -->
  <arg name="gui" default="true" />
  <arg name="robot" default="premaidai" />

  <!--include-->
  <include file="$(find premaidai_gazebo)/launch/premaidai_empty_world.launch"/>
  <remap from="/gazebo/joint_command" to="/joint_states"/>

  <!-- load robot -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find premaidai_description)/robots/$(arg robot).urdf.xacro'" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="rate" value="5" />
  </node>

  <!-- load displays -->
  <param name="use_gui" value="$(arg gui)"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find premaidai_description)/launch/display.rviz"/>
</launch>
